* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family:Cambria, 'Times New Roman', serif;
  background-color: #f4f4f4;
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 105px;
}
.home>h1{
  margin-bottom: 50px;
}
.home>ul>li{
  text-align: center;
}

  .button-59 {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-top: 35px;
  }
  
  @media (min-width: 768px) {
    .button-59 {
      min-width: 170px;
    }
  }

.PM{
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.searchBarContainer {
  padding-top: 10vh;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 300px;
}

.searchBarContainer > div {
  margin-top: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin-bottom: 10px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  border-top: 1px solid #ccc;
}

@media screen and (max-width: 768px) {
  .searchBarContainer {
    width: 90%;
  }
  h1 {
    text-align: center;
  }
}